@model MyLibrary.Models.tblPerdoruesit
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Update", "Perdoruesit", FormMethod.Post, new { enctype="multipart/form-data"}))
{
<div style="margin-top:20px"></div>
<div class="form-group">
    <div style="margin-top:15px">
        <label> Emri Perdoruesit </label>
        @Html.TextBoxFor(x => x.Emri, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Emri, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label> Mbiemri Perdoruesit </label>
        @Html.TextBoxFor(x => x.Mbiemri, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mbiemri, "", new { @style = "color:forestgreen" })
    </div>

    <div style="margin-top:15px">
        <label>Emaili Perdoruesit</label>
        @Html.TextBoxFor(x => x.EMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EMail, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>UserName</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Fjalekalimi</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label for="curl" class="control-label col-lg-2">Fotografia Vjeter</label>
        <div class="col-lg-10">
            <img src="@Model.Fotografia" width="100" height="100" />
        </div>
    </div>

    <div style="margin-top:15px">
        <label>Fotografia</label>
        <input class="form-control " name="Fotografia" id="Fotografia" type="file" accept=".jpg,.jpeg,.png" />
    </div>
    <div style="margin-top:15px">
        <label>Numri telefonit</label>
        @Html.TextBoxFor(x => x.Telefoni, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Telefoni, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Shkolla</label>
        @Html.TextBoxFor(x => x.Shkolla, new { @class = "form-control" })
    </div>
</div>
<button class="btn btn-outline-success">Perditeso</button>
<a href="/Perdoruesit/Index/" class="btn btn-outline-warning">Back</a>
}

